/* these four styles below are used with aside */



aside {
  width: 300px;
  margin-right: 20px;
  font-family: Arial, Helvetica, sans-serif;
  float: left;
  overflow: visible;
}

aside h3 {
  margin: 10px; 
}

aside p {
  margin: 10px;
  padding: 10px;
  color: white;
  background-color: maroon;
  text-align: left;
}

 
/* enter the code for your styles below */


#container {
			margin: auto;
			width:900px;
				}	

body {
	font-size: 1.2em;
	font-family: Tahoma, sans-serif;
	color: navy;
	background-color: #CCCCFF;
	align: center;
	}

main {
	width: 580px;
	float: right;
	background-color: beige;
	}
	
	header {
	clear: both;
		
		}
		
		
footer {
		background-color: rgba(0, 0, 0, .5);
		color: white;
		clear: both;
				}

img	{
	padding: 0;
	box-shadow: 7px 7px 7px rgba(0, 0, 0, .5);
	}
	
main p 	{
	margin: 10px;
	}
	
