@import url(footer.css);

body {
	font-size: 1em;
	font-family: Georgia, serif;
	margin-top: 1em;
	}
		
*	{
	margin: 0 auto;
	padding: 0;
	}
	
#container {
	width: 960px;
	border: 1px solid;
    background-color: #f3f6e9;
	}
	
header {
	width: 960px;
		}
		
#left {
	width: 297px;
	padding: 10px;
	border-right: solid 3px teal;
	float: left;
	}
	
#middle {
	width: 297px;
	padding: 10px;
	border-right: solid 3px teal;
	float: left;
		}
#right {
	width: 297px;
	padding: 10px;
	float: left;
	}
	
h1 {
	padding: 10px;
	color: white;
	text-align: center;
	background: url(images/blacktexture.jpg) teal;
	}
	
h2 {
	padding: 10px;
	margin-bottom: 10px;
	color: white;
	background-color: navy;
	text-align: center;
	}
	
p	{
	text-indent: 1em;	
	}	
