@import 'nav';

@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

* { margin: 0;
    padding: 0;
    font-family: 'Amatic SC', cursive;
    font-size: 24px;
    font-weight: bold;
       }
    
header img	{	
        border-radius: 15px;
        width: 100%;
        height: 100%;
        margin: 0px;
            }
        
body {
        background-image:url("http://www.beckhansonart.com/images/fireandicecropbg.jpg");
        font-family: 'Amatic SC', cursive;
        font-size: 2em;
        font-weight: bold;
            }	
        
#container {
                width: 90%;
                margin: 0.5em auto;
                border: 1px solid #838383;
                background-color: rgba(0, 0, 0, .5);
                border-radius: 15px;
                }	

                @media screen and (min-width: 1100px) {
                  main {
                    width: 80%;
                  }
                }
    
header {
            border: 1px solid #838383;
            background-color: rgba(85, 2, 48, 0.5);
            text-align: center;
            border-top-right-radius: 12px;
            border-top-left-radius: 12px;
}

aside {
                width: 24%;
                padding: 0.5em;
                background-color: rgba(85, 2, 48, 0.5);
                height: auto;
                color: white;
                float: left;
                margin: 0.25em;
                border: 1px solid #838383;
                border-radius: 15px;
                font-size: 16px;
      }		

                /* If the screen size is 600px wide or less, hide the element */
                @media only screen and (max-width: 600px) {
                  aside {
                    display: none;
                  }
                }

               
        
main {
            width: 72%;
            padding: 1em;
            background-color: rgba(48, 84, 69, 0.5);
            border: 1px solid #838383;
            color: white;
            margin: 0.25em;
            float: right;
            border-radius: 15px;
            align-content: center;
            }

            @media only screen and (max-width: 600px) {
              main {
                width: 98%;
              }
            }
            
footer {
                background-color: rgba(0, 0, 0, .5);
                color: lightslategray;
                clear: both;
                margin: 0px;
                border-bottom-right-radius: 14px;
                border-bottom-left-radius: 14px;
                }
        
p		{
                padding-bottom: 2px;
                align-content: center;
        }
        
//div {
            box-shadow: 25px 25px 15px rgba(0, 0, 0, .5);
}



.bs-example {
    margin: 0px;
    background-color: rgba(0, 0, 0, .5);
    color: violet;
    border: none;
}

.navbar {
  background-color: rgba(85, 2, 48, 0.5);
  border: none;
  color: black;
}

.navbar a {
   color: slateblue;
}

.navbar a:hover {
  background-color: violet;
}

button {
  color: turquoise;
}

.icon-bar {
  color: black;
}

.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 2px;
  background-color: transparent;
  background-image: none;
  border: 1px solid turquoise;
  border-radius: 4px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}


.img-responsive {
  box-shadow: 25px 25px 10px rgba(0, 0, 0, .5);
  }

.col-sm-3 {
  width: 31%;
  padding: 10px;
}

 @media only screen and (max-width: 770px) {
  .col-sm-3 {
    width: 90%;
  }
}