@charset "utf-8";
/* CSS Document */

* { margin: 0;
	padding: 0;
	}
	
	
img {
	padding: 0px;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
	img-align:center;
		}
		
header img	{	
	border-radius: 15px;
	width: 100%;
	height: 100%;
	margin: 0px;
		}		
	
body {
		background-image:url("http://www.beckhansonart.com/images/fireandicecropbg.jpg");
		font-family: Verdana, sans-serif;
		}	
#container {
			width:80%;
			margin: 2em auto;
			border: 1px solid #838383;
			background-color: rgba(0, 0, 0, .5);
			border-radius: 15px;
			}	

header {
		border: 1px solid #838383;
		background-color: rgba(85, 2, 48, 0.5);
		text-align: center;
		border-top-right-radius: 12px;
		border-top-left-radius: 12px;
		}
		
a:link {
		color: white;
		text-decoration: none;
		}
		
a:hover {
		text-decoration:underline overline;
		color: #838383;
		}
		
a:visited {
		color: turquoise;
		text-decoration: none;
}		
		
	
	
nav {
		padding: 20px;
		background-color: rgba(0, 0, 0, .5);
		color: white;
		font-size: 1.25em;
		
		}
		
nav li {
		display: inline;
		color: white;
		list-style-type: none;
		}		
		
		
aside {
		width: 228px;
		padding: 10px;
		background-color: rgba(85, 2, 48, 0.5);
		height: 200px;
		color: white;
		float: left;
		margin-right: 12px;
		margin-left: 10px;
		border: 1px solid #838383;
		}		

main {
	width: 100%;
	padding: 2em;
	background-color: rgba(48, 84, 69, 0.5);
	border: 1px solid #838383;
	color: white;
	float: right;
	}
	
footer {
		background-color: rgba(0, 0, 0, .5);
		color: white;
		clear: both;
		border-bottom-right-radius: 14px;
		border-bottom-left-radius: 14px;
		}

p		{
		padding-bottom: 10px;

}

div {
	box-shadow: 25px 25px 15px rgba(0, 0, 0, .5);
	}
	
table {
	
	align-content: center;
	}
	
td {
	padding: 25px;
	align: center;
}
