@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

* {
    font-family: 'Amatic SC', cursive;
}
body{
    font-family: 'Quicksand', sans-serif;
    background-image: url("http://www.beckhansonart.com/images/fireandicecropbg.jpg");
    color: turquoise;
}
.gal-container{
	padding: 12px;
}
.gal-item{
	padding: 3px;
}
.gal-item .box{
	height: 350px;
}
.box img{
	height: 100%;
	width: 100%;
	object-fit:cover;
    -o-object-fit:cover;
    box-shadow: 25px 25px 10px rgba(0, 0, 0, .5);
    
}
.gal-item a:focus{
	outline: none;
}
.gal-item a:after{
	content:"\e003";
	font-family: 'Glyphicons Halflings';
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.75);
	position: absolute;
	right: 3px;
	left: 3px;
	top: 3px;
	bottom: 3px;
	text-align: center;
    line-height: 350px;
    font-size: 30px;
    color: #fff;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.gal-item a:hover:after{
	opacity: 1;
}
.modal-open .gal-container .modal{
	background-color: rgba(0,0,0,0.2);
}
.modal-open .gal-item .modal-body{
	padding: 0px;
}
.modal-open .gal-item button.close{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: rgba(0,0,0,0.2);
    opacity: 1;
    color: #fff;
    z-index: 999;
    right: -12px;
    top: -12px;
    border-radius: 50%;
    font-size: 15px;
    border: 2px solid #fff;
    line-height: 25px;
    -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0.35);
	box-shadow: 0 0 1px 1px rgba(0,0,0,0.35);
}
.modal-open .gal-item button.close:focus{
	outline: none;
}
.modal-open .gal-item button.close span{
	position: relative;
	top: 3px;
	font-weight: lighter;
    text-shadow:none;
    z-index: 5000;
}
.gal-container .modal-dialogue{
	width: 80%;
}
.gal-container .description{
	position: relative;
	height: 40px;
	top: -40px;
	padding: 10px 25px;
	background-color: rgba(0,0,0,0.5);
	color: #fff;
	text-align: left;
}
.gal-container .description h4{
	margin:0px;
	font-size: 15px;
	font-weight: 300;
	line-height: 20px;
}
.gal-container .modal.fade .modal-dialog {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    top: 100px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.gal-container .modal.fade.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
    opacity: 1;
}
@media (min-width: 768px) {
.gal-container .modal-dialog {
    width: 55%;
    margin: 50 auto;
}
}
@media (max-width: 768px) {
    .gal-container .modal-content{
        height:250px;
    }
}






.gallery a {
	position: relative;
	display: block;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 100px;
    height: 250px;
	width: auto;
    padding-top:40px;
    top: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    text-align: center;
    transition: all 0.5s ease 0s;
    z-index: 20;
}

.overlay2{
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 100px;
    height: 100%;
	width: 100%;
    padding-top:100px;
    top: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    text-align: center;
    transition: all 0.5s ease 0s;
    z-index: 20;
}

.gallery a:hover .overlay ,
.gallery a:hover .overlay2 {
    opacity: 0.8;
}

.img-space{
    margin:20px 0px;
}






.box{
    text-align: center;
    box-shadow: 15px 15px 5px rgba(0, 0, 0, .5);
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin: auto;
    }
.box:after{
    content: "";
    width: 0;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: 20px;
    right: auto;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease 0s;
}
.box:hover:after{
    width: 85%;
    padding-bottom: 85%;
    opacity: 1;
}
.box img{
    width: auto;
    height: 240px;
    vertical-align: center;
    align-content: center;
    margin: auto;
}
.box .box-content{
    width: 100%;
    padding: 0 13%;
    color: #fff;
    position: absolute;
    top: 25%;
    left: 0;
    opacity: 0;
    z-index: 1;
    transition: all 0.3s ease 0s;
}
.box:hover .box-content{
    opacity: 1;
}
.box .title{
    display: inline-block;
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.box .description{
    font-size: 4em;
    line-height: 75px;
    color: turquoise;
}
@media only screen and (max-width:990px){
    .box{ margin-bottom: 20px; }
}





@media (max-width: 768px)
.navbar-collapse.collapse {
    display: block!important;
    height: auto!important;
    padding-bottom: 0;
    overflow: visible!important;
}
@media (max-width: 768px)
.navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
}

.bs-example {
    margin: 0px;
    background-color: rgba(0, 0, 0, .5);
    color: violet;
    border: none;
}

.navbar {
  background-color: rgba(85, 2, 48, 0.5);
  border: none;
  color: violet;
  font-size: 2em;
}

.navbar a {
   color: turquoise;
}

.navbar a:hover {
  background-color: violet;
  color: black;
  text-decoration: none;
  font-size: 30px;
}

.navbutton {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
}

button {
  color: turquoise;
}

.icon-bar {
  color:turquoise;
}

.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 2px;
  background-color: transparent;
  background-image: none;
  border: 1px solid turquoise;
  border-radius: 4px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}


.img-responsive {
  box-shadow: 25px 25px 10px rgba(0, 0, 0, .5);
  }

.col-sm-3 {
  width: 25%;
  padding: 5px;
}

@media only screen and (max-width: 900px) 
    .col-sm-3 {
      width: 50%;
    }

 @media only screen and (max-width: 770px) {
  .col-sm-3 {
    width: 75%;
      }
      @media only screen and (max-width: 400px) {
        .col-sm-3 {
          width: 100%;
        }
}

i {
    size: 18px;
    color: turquoise;
}





.topnav {
    overflow: visible;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .active {
    background-color: #4CAF50;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  .dropdown {
      float: left;
      overflow: visible;
  }
  
  .dropdown .dropbtn {
      font-size: 17px;    
      border: none;
      outline: none;
      color: white;
      padding: 14px 16px;
      background-color: inherit;
      font-family: inherit;
      margin: 0;
  }
  
  .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
  }
  
  .dropdown-content a {
      float: none;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
  }
  
  .topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #555;
    color: white;
  }
  
  .dropdown-content a:hover {
      background-color: #ddd;
      color: black;
  }
  
  .dropdown:hover .dropdown-content {
      display: block;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: center;
    }
  }

  .col-lg-4 .col-xs-12 .img-space {
      align-content: center;
      
  }

  @media only screen and (max-width: 900px) {
  .col-lg-4 .col-xs-12 .img-space {
      width: 50%;
    }

 @media only screen and (max-width: 770px) {
    .col-lg-4 .col-xs-12 .img-space {
    width: 75%;
      }
      @media only screen and (max-width: 400px) {
        .col-lg-4 .col-xs-12 .img-space {
          width: 100%;
        }
  .row {
      align-content: center;
  }

  .profile img{
      border-radius: 50%;
      vertical-align: top;
      padding: 0px;
      height: 40px;
      width: auto;
  }

.profile img{
    border-radius: 50%;
    margin: 0px;
    height: 40px;
    width: auto;
}

.box2 img{
    border-radius: 50%;
    box-shadow: 25px 25px 10px rgba(0, 0, 0, .5);
    overflow: hidden;
    width: auto;
    height: 50px;
    vertical-align: center;
    align-content: center;
    margin: auto;
        }
        
form {
    color: turquoise;
}

p {
    color: turquoise;
}

.section-description {
    font-size: 2em;
}

.section2 {
    padding: 20px;
    margin: auto;
}