/*
Bremstone Vinyl Records
Style Sheet
Author: Rebecca Hanson
Date: February 13, 2017
*/

body {
font-family: Verdana, sans-serif;
background-color: #c0e59b;
}

h1 { text-align: center;
}

h2 {color: navy;
}

h3 {font-weight: bold;
color: navy;
}

p {text-indent: 5em;
line-height: 1.5em;
}

h4 {text-transform: uppercase;
font-style: italic;
color: maroon;
}