@font-face{ 
	font-family: 'MyWebFont';
	src: url('Aaargh-webfont.eot');
	src: url('Aaargh-webfont.eot?iefix') format('eot'),
	     url('Aaargh-webfont.woff') format('woff'),
	     url('Aaargh-webfont.ttf') format('truetype'),
	     url('Aaargh-webfont.svg#webfont') format('svg');
}

* { margin: 0;
	padding: 0;
	}
	
	
img {
	padding: 5px;
	box-shadow: 7px 7px 7px rgba(0, 0, 0, .5);	
		}
	
body {
		background-image:url("http://www.beckhansonart.com/images/fireandicecropbg.jpg");
		font-family: 'MyWebFont', Verdana, sans-serif;
		}	
	
#container {
			width:970px;
			margin: 10px auto;
			border: 1px solid #838383;
			background-color: rgba(0, 0, 0, .5);
      border-radius: 15px;
      height: auto;
			}	

header {
		border: 1px solid #838383;
		background-color: rgba(85, 2, 48, 0.5);
		text-align: center;
		border-top-right-radius: 12px;
		border-top-left-radius: 12px;
		}
		
a:link {
		color: white;
		text-decoration: none;
		}
		
a:hover {
		text-decoration: uppercase underline;
		color: #838383;
		}
		
a:visited {
		color: turquoise;
		text-decoration: none;
}		
		
	
	
nav {
		padding: 5px;
		background-color: rgba(0, 0, 0, .5);
		color: white;
		
		}
		
nav li {
		display: inline;
		color: white;
		list-style-type: none;
		}		
		
		
aside {
		width: 228px;
		padding: 10px;
		background-color: rgba(85, 2, 48, 0.5);
		height: auto;
		color: white;
		float: left;
		margin-right: 12px;
		margin-left: 10px;
		border: 1px solid #838383;
		}		

main {
	width: 665px;
	padding: 10px;
	background-color: rgba(48, 84, 69, 0.5);
	border: 1px solid #838383;
	color: white;
	margin-right: 10px;
  float: right;
  height: 2000px;
	}
	
footer {
		background-color: rgba(0, 0, 0, .5);
		color: white;
		clear: both;
		border-bottom-right-radius: 14px;
		border-bottom-left-radius: 14px;
		}

p		{
		padding-bottom: 10px;
}

div {
	box-shadow: 25px 25px 15px rgba(0, 0, 0, .5);
	}

#p1 {
       background-color:hsl(290,100%,50%);
}

#p2 {
       background-color:hsla(290,100%,50%,0.4);
}

#p6 {
       background-color:rgba(64,224,208 ,1 );
}


#grad1 {
    height: 150px;
    background: violet; /* For browsers that do not support gradients */
    background: linear-gradient(to right, violet , turquoise); /* Standard syntax (must be last) */
}

#h4  {
     text-decoration: overline underline;
     text-shadow: 2px 4px 12px fuchsia;
}

h3 + div	{
	background: linear-gradient(to right, violet , turquoise);
	text-shadow: 2px 4px 12px fuchsia;
	color: black;
	font-size: 10em;
}	/* div placed directly after an h3 element  */

div > p	{
	background: linear-gradient(to right, fuchsia , gray);
	text-shadow: 2px 4px 12px turquoise;
	color: black;
	font-size: 10em;
}	/* p whose parent is a div  */

br ~ h5	{
	background: linear-gradient(to right, gray , turquoise);
	text-shadow: 2px 4px 12px violet;
	color: black;
	font-size: 10em;
}	/*  h5 preceded by a br  */


#peakaboo {
    display: none;
    background-color: turquoise;
    padding: 20px;
    color: black;
    font-size: 7em;
}

div:hover #peakaboo {
    display: block;
}


#first::first-letter {
    font-size: 7em;
    color: #8A2BE2;
}

p[target=meep] {
    background-color: fuchsia;
    color: black;
    font-size: 7em;
}

p[target=bloop] {
    background-color: gray;
    color: black;
    font-size: 7em;
}



.round_shadow_button {
font: 14px/2.3em trebuchet,arial;
color: fuchsia;
text-shadow: 0 1px 0 #fff;
text-align: center;
text-decoration: none;
display: block;
padding: 0 5px;
margin: 3px auto 5px;
background: #fff url(btn.png) repeat-x bottom;
border: 1px solid #ddd;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
-o-border-radius: 6px;
-ms-border-radius: 6px;
border-radius: 6px;
-moz-box-shadow: 0 3px 5px #ccc;
-webkit-box-shadow: 0 3px 5px #ccc;
-o-box-shadow: 0 3px 5px #ccc;
-ms-box-shadow: 0 3px 5px #ccc;
box-shadow: 0 3px 5px #ccc;
}

.round_shadow_button:hover {
margin: 5px auto 3px;
-moz-box-shadow: 0 0 1px #eee;
-webkit-box-shadow: 0 0 1px #eee;
-o-box-shadow: 0 0 1px #eee;
-ms-box-shadow: 0 0 1px #eee;
box-shadow: 0 0 1px #eee;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: violet;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}


.newspaper1 {
    -webkit-columns: 100px 3; /* Chrome, Safari, Opera */
    -moz-columns: 100px 3; /* Firefox */
    columns: 100px 3;
}

#div6 {
    margin: 20px;
    border: 2px solid turquoise;
    outline: 2px solid fuchsia;
    outline-offset: 15px;
} 

.div2 {
    width: 300px;
    height: 100px;    
    padding: 50px;
    border: 1px solid fuchsia;
}




@-webkit-keyframes cf4FadeInOut {
    0% {
      opacity:1;
    }
    17% {
      opacity:1;
    }
    25% {
      opacity:0;
    }
    92% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
   }
   
   @-moz-keyframes cf4FadeInOut {
    0% {
      opacity:1;
    }
    17% {
      opacity:1;
    }
    25% {
      opacity:0;
    }
    92% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
   }
   
   @-o-keyframes cf4FadeInOut {
    0% {
      opacity:1;
    }
    17% {
      opacity:1;
    }
    25% {
      opacity:0;
    }
    92% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
   }
   
   @keyframes cf4FadeInOut {
    0% {
      opacity:1;
    }
    17% {
      opacity:1;
    }
    25% {
      opacity:0;
    }
    92% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
   }
   
   #cheeky {
     position:relative;
     height:281px;
     width:450px;
     margin:0 auto;
   }
   #cheeky img {
     position:absolute;
     left:0;
   }
   
   #cheeky img {
     -webkit-animation-name: cf4FadeInOut;
     -webkit-animation-timing-function: ease-in-out;
     -webkit-animation-iteration-count: infinite;
     -webkit-animation-duration: 8s;
   
     -moz-animation-name: cf4FadeInOut;
     -moz-animation-timing-function: ease-in-out;
     -moz-animation-iteration-count: infinite;
     -moz-animation-duration: 8s;
   
     -o-animation-name: cf4FadeInOut;
     -o-animation-timing-function: ease-in-out;
     -o-animation-iteration-count: infinite;
     -o-animation-duration: 8s;
   
     animation-name: cf4FadeInOut;
     animation-timing-function: ease-in-out;
     animation-iteration-count: infinite;
     animation-duration: 8s;
   }
   #cheeky img:nth-of-type(1) {
     -webkit-animation-delay: 6s;
     -moz-animation-delay: 6s;
     -o-animation-delay: 6s;
     animation-delay: 6s;
   }
   #cheeky img:nth-of-type(2) {
     -webkit-animation-delay: 4s;
     -moz-animation-delay: 4s;
     -o-animation-delay: 4s;
     animation-delay: 4s;
   }
   #cheeky img:nth-of-type(3) {
     -webkit-animation-delay: 2s;
     -moz-animation-delay: 2s;
     -o-animation-delay: 2s;
     animation-delay: 2s;
   }
   #cheeky img:nth-of-type(4) {
     -webkit-animation-delay: 0;
     -moz-animation-delay: 0;
     -o-animation-delay: 0;
     animation-delay: 0;
   }
   

   p#cheeky_controls {
    text-align:center;
  }
  #cheeky_controls span {
    padding-right:2em;
    cursor:pointer;
  }
  #cheeky {
    position:relative;
    height:auto;
    width:auto;
    margin:0 auto 10px;
  }
  #cheeky img {
    position:absolute;
    left:0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    opacity:0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  
  #cheeky img.opaque {
    opacity:1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=1);
  }