<!--
Tutorial 5, Case Problem 4
Your Name: Rebecca Hanson
Today's Date: 4/1/2017
-->

<style type="text/css">

body {
	font-size: 1.2em;
	color: #660066;
	background-color: #99CCCC;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	}
	
	
h1 {	
	background-color: gray;
	color: fuschia;
	text-decoration: overline underline;
	text-align: center;
	}
	
h3 	{
	color: fuschia;
	text-decoration: overline underline;
	text-align: left;
	margin-left: 60px;
	}	
	
img {
	border: 1px solid navy;
	float: right;
	padding: 20px;
	background-color: gray;
	margin-right: 60px;
	margin-left: 75px;
	margin-bottom: 20px;
	}
	
p {	
	margin-left: 60px;
	margin-right: 60px;
	}
	
img.left {
		float: left;
		padding: 20px;
		background-color: gray;
		border: 1px solid navy;
		margin-left: 60px;
		margin-right: 75px;
		margin-bottom: 20px;
		}
		
.clear {
		clear: both;
		}
		