#box
{
	position: absolute;
    left:30%;
    top: 25%;
	height: 50%;
	width: auto;
    box-shadow: 0px 0px 20px #fff;

}


body {
		background-image:url("images/starfall.png");
		}	
		
#Lucky	{
	position: absolute;
    left: 49%;
    top: 67%;
    z-index: -1;
	height: 10%;
	width: auto;
   	 transition: height width 5s;
    -webkit-transition: height width 5s; /* Safari 3.1 to 6.0 */
}

#Lucky:hover{
		    -ms-transform: scale(6,6); /* IE 9 */
    -webkit-transform: scale(6,6); /* Safari */
    transform: scale(6,6); /* Standard syntax */
	z-index: 1;
	
}