@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

* { margin: 0;
    padding: 0;
    font-family: 'Amatic SC', cursive;
    font-size: 2emem;
    font-weight: bold;
          }




#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, 0.5);
    z-index: 1;
    cursor: pointer;
            }

#text{
    opacity: 0;
    position: absolute;
    top: -30%;
    left: 60%;
    font-size: 2em;
    color: black;
    z-index: 4;
    animation: 
      rollIn 2s 1s forwards,
      swing 3s steps(4) 4s 5 forwards,
      rollOut 2s 30s forwards;
          
    img {transform: rotate3d(0, 0, 1, 45deg);
             }
 }

 #ad{
   opacity: 0;
   -ms-transform: matrix(1, -0.3, 0, 1, 0, 0); /* IE 9 */
    -webkit-transform: matrix(1, -0.3, 0, 1, 0, 0); /* Safari */
    transform: matrix(1, -0.3, 0, 1, 0, 0); /* Standard syntax */
   position: absolute;
   top: 25%;
  left: 5%;
  width: 65%;
  height: 100%;
  color: black;
  background-image: url("images/paint.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-color: rgb(250, 246, 212);
  animation: 
    fadeInLeftBig 5s 1s forwards,
    rollOut 2s 30s forwards;
  z-index: 3;
  margin: auto;
  align-content: center;
      p {
        margin: auto;
        align-content: center;
        padding: 20%;
        font-size: 3em;
        animation:
          pulse 1s 6s infinite forwards,;
            }
  
}

.img-shadow {
  box-shadow: 25px 25px 10px rgba(0, 0, 0, .5);
  }

body {
    background-image: url("images/dickblick.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    font-family: 'Amatic SC', cursive;
    font-size: 2em;
    margin: auto;
    }


    .close-button {
      display: inline-block;
      -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;
      box-sizing: content-box;
      width: 0.75em;
      height: 0.75em;
      position: relative;
      border: none;
      -webkit-border-radius: 1em;
      border-radius: 1em;
      font: normal 8em/normal Arial, Helvetica, sans-serif;
      color: rgba(0,0,0,1);
      -o-text-overflow: clip;
      text-overflow: clip;
      background: #1abc9c;
      animation: 
         rollOut 2s 30s forwards;
    }
    
    .close-button::before {
      display: inline-block;
      -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;
      box-sizing: content-box;
      width: 0.45em;
      height: 0.1em;
      position: absolute;
      content: "";
      top: 0.33em;
      left: 0.155em;
      border: none;
      font: normal 100%/normal Arial, Helvetica, sans-serif;
      color: rgba(0,0,0,1);
      -o-text-overflow: clip;
      text-overflow: clip;
      background: #ffffff;
      text-shadow: none;
      -webkit-transform: rotateZ(45deg)   ;
      transform: rotateZ(45deg)   ;
    }
    
    .close-button::after {
      display: inline-block;
      -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;
      box-sizing: content-box;
      width: 0.45em;
      height: 0.1em;
      position: absolute;
      content: "";
      top: 0.33em;
      left: 0.155em;
      border: none;
      font: normal 100%/normal Arial, Helvetica, sans-serif;
      color: rgba(0,0,0,1);
      -o-text-overflow: clip;
      text-overflow: clip;
      background: #ffffff;
      text-shadow: none;
      -webkit-transform: rotateZ(-45deg)   ;
      transform: rotateZ(-45deg)   ;
    }  
   


 
/* make keyframes that tell the start state and the end state of our object */
 
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 
.fade-in {
      opacity:0;  /* make things invisible upon start */
      -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
      -moz-animation:fadeIn ease-in 1;
      animation:fadeIn ease-in 1;
      
      -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
      -moz-animation-fill-mode:forwards;
      animation-fill-mode:forwards;
      
      -webkit-animation-duration:1.5s;
      -moz-animation-duration:1.5s;
      animation-duration:1.5s;
}
 
.fade-in.one {
      -webkit-animation-delay: 1s;
      -moz-animation-delay: 1s;
      animation-delay: 1s;
}

@-webkit-keyframes rollIn {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
      transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes rollIn {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
      transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .rollIn {
    -webkit-animation-name: rollIn;
    animation-name: rollIn;
     }
  
  /* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
  
  @-webkit-keyframes rollOut {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
      transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
    }
  }
  
  @keyframes rollOut {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
      transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
    }
  }
  
  .rollOut {
    -webkit-animation-name: rollOut;
    animation-name: rollOut;
      }
  
  @-webkit-keyframes swing {
    25% {
      -webkit-transform: rotate3d(0, 0, 1, 45deg);
      transform: rotate3d(0, 0, 1, 45deg);
    }
  
    50% {
      -webkit-transform: rotate3d(0, 0, 1, -45deg);
      transform: rotate3d(0, 0, 1, -45deg);
    }
  
    75% {
      -webkit-transform: rotate3d(0, 0, 1, 45deg);
      transform: rotate3d(0, 0, 1, 45deg);
    }
  
    100% {
      -webkit-transform: rotate3d(0, 0, 1, -45deg);
      transform: rotate3d(0, 0, 1, -45deg);
    }
  
  }
  
  @keyframes swing {

    25% {
      -webkit-transform: rotate3d(0, 0, 1, 45deg);
      transform: rotate3d(0, 0, 1, 45deg);
    }
  
    50% {
      -webkit-transform: rotate3d(0, 0, 1, -45deg);
      transform: rotate3d(0, 0, 1, -45deg);
    }
  
    75% {
      -webkit-transform: rotate3d(0, 0, 1, 45deg);
      transform: rotate3d(0, 0, 1, 45deg);
    }
  
    100% {
      -webkit-transform: rotate3d(0, 0, 1, -45deg);
      transform: rotate3d(0, 0, 1, -45deg);
    }
  
  }
  
  .swing {
    -webkit-transform-origin: top center;
    transform-origin: top center;
    -webkit-animation-name: swing;
    animation-name: swing;
    
     }

// Ad div ----------------------------------------------------------------------------

     @keyframes fadeInLeftBig {
      from {
        opacity: 0;
        -webkit-transform: translate3d(-2000px, 0, 0);
        transform: translate3d(-2000px, 0, 0);
      }
    
      to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }
    }
    
    .fadeInLeftBig {
      -webkit-animation-name: fadeInLeftBig;
      animation-name: fadeInLeftBig;
                }


    @-webkit-keyframes pulse {
      from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }
    
      50% {
        -webkit-transform: scale3d (1.25, 1.25, 1.25);
        transform: scale3d (1.25, 1.25, 1.25);
      }
    
      to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }
    }
    
    @keyframes pulse {
      from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }
    
      50% {
        -webkit-transform: scale3d(1.25, 1.25, 1.25);
        transform: scale3d (1.25, 1.25, 1.25);
      }
    
      to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }
    }
    
    .pulse {
      -webkit-animation-name: pulse;
      animation-name: pulse;
    }
    
   
    @-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
 }

