/* CSS Document 
<!-- Author: 
   __         _                               
  /__\   ___ | |__    ___   ___   ___   __ _  
 / \//  / _ \| '_ \  / _ \ / __| / __| / _` | 
/ _  \ |  __/| |_) ||  __/| (__ | (__ | (_| | 
\/ \_/  \___||_.__/  \___| \___| \___| \__,_| 
                                              
                                              
  /\  /\  __ _  _ __   ___   ___   _ __       
 / /_/ / / _` || '_ \ / __| / _ \ | '_ \      
/ __  / | (_| || | | |\__ \| (_) || | | |     
\/ /_/   \__,_||_| |_||___/ \___/ |_| |_|     
                                           
                --->*/
@import url("https://fonts.googleapis.com/css?family=Special+Elite");
/* CSS Document 
<!-- Author: 
   __         _                               
  /__\   ___ | |__    ___   ___   ___   __ _  
 / \//  / _ \| '_ \  / _ \ / __| / __| / _` | 
/ _  \ |  __/| |_) ||  __/| (__ | (__ | (_| | 
\/ \_/  \___||_.__/  \___| \___| \___| \__,_| 
                                              
                                              
  /\  /\  __ _  _ __   ___   ___   _ __       
 / /_/ / / _` || '_ \ / __| / _ \ | '_ \      
/ __  / | (_| || | | |\__ \| (_) || | | |     
\/ /_/   \__,_||_| |_||___/ \___/ |_| |_|     
                                           
                --->*/
header {
  background-color: white;
  text-align: center; }

header img {
  margin: 2px;
  float: left; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

nav {
  background-color: white;
  color: black;
  font-size: 12pt;
  background-image: url("images/nav.png");
  background-repeat: no-repeat;
  float: right;
  vertical-align: bottom;
  padding-top: 10px;
  padding-bottom: 0px;
  height: 35px;
  width: 550px;
  display: block;
  opacity: 1.0; }

nav img {
  opacity: 0.75;
  width: 500px; }

nav li {
  display: inline;
  color: black;
  list-style-type: none; }

.address {
  font-size: 2em;
  float: right;
  clear: none;
  padding: 2px; }

.phone {
  font-size: 1em;
  float: right;
  clear: none;
  padding: 2px; }

.socialimg1 {
  margin: auto;
  float: left;
  clear: right;
  margin-left: 250px; }

.socialimg1 img {
  padding: 5px; }

.master_fc7CjWDn69nAA1vSsxsm2 .menuItem .menuItemDesign {
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0);
  border-style: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  color: #363636;
  font-family: PT Sans;
  font-size: 13px;
  font-weight: 400;
  line-height: 17.0px;
  text-align: left;
  padding: 9px 15px;
  width: auto; }

#product {
  clear: both;
  height: 45px;
  text-align: center;
  padding-top: 10px;
  margin-left: 30px;
  font-size: 2.5em;
  background-color: purple;
  color: white;
  font-family: "Special Elite";
  align-content: center;
  margin: auto; }

/* CSS Document 
<!--- Author: 
   __         _                               
  /__\   ___ | |__    ___   ___   ___   __ _  
 / \//  / _ \| '_ \  / _ \ / __| / __| / _` | 
/ _  \ |  __/| |_) ||  __/| (__ | (__ | (_| | 
\/ \_/  \___||_.__/  \___| \___| \___| \__,_| 
                                              
                                              
  /\  /\  __ _  _ __   ___   ___   _ __       
 / /_/ / / _` || '_ \ / __| / _ \ | '_ \      
/ __  / | (_| || | | |\__ \| (_) || | | |     
\/ /_/   \__,_||_| |_||___/ \___/ |_| |_|     
                                           
                --->*/
form label {
  font-size: 14pt;
  clear: left;
  float: left;
  text-align: right;
  height: 30px;
  margin-right: 7px;
  width: 200px; }

form input {
  clear: right;
  float: right;
  margin-right: 10px;
  height: 25px;
  width: 200px;
  font-weight: bold; }

textarea {
  float: right;
  margin-right: 10px;
  width: 200px;
  height: 150px; }

fieldset {
  border: none;
  line-height: 20px; }

#submit {
  background-color: purple;
  float: left;
  clear: both;
  margin-left: 250px;
  width: 90px;
  height: 40px;
color: #FFFFFF;
  font-size: 1em;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
  font-weight: bold; }

* {
  margin: 0;
  padding: 0; }

img {
  padding: 0px;
  margin: 0em; }

body {
  background-image: url("images/background.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed; }

#container {
  width: 73.5%;
  background-color: rgba(255, 255, 255, 0.75);
  margin-bottom: 10px;
  margin: auto; }

a:link {
  color: black;
  text-decoration: none; }

a:hover {
  text-decoration: none;
  color: blue; }

a:visited {
  color: black;
  text-decoration: none; }

main {
  width: 100%;
  padding: 0em;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  color: white;
  margin: 0em;
  clear: both;
  align-content: center; }

#asideleft {
  width: 52%;
  padding: 0px;
  background-color: rgba(255, 255, 255, 0);
  height: auto;
  color: white;
  clear: none;
  float: left;
  margin-right: 0em;
  margin-left: 0em;
  border: none;
  border-radius: 0px; }

.tn {
  float: right;
  margin: 7px;
  border: 6px solid lightgrey; }

.tn2 {
  float: left;
  margin: 7px;
  margin-left: 29px;
  border: 6px solid lightgrey; }

#asideright {
  width: 47%;
  padding: 0px;
  background-color: rgba(255, 255, 255, 0);
  height: auto;
  color: black;
  float: right;
  clear: none;
  margin-right: 0em;
  margin-left: 0em;
  border: none;
  border-radius: 0px;
  line-height: 28px; }

#asideright h4 {
  margin-left: 15px;
  font-size: 14pt; }

#asideright p {
  margin-left: 30px;
  margin-right: 1em; }

#asideright h2 {
  text-align: center;
  font-size: 2em;
  color: purple; }

.specs {
  -webkit-columns: 100px 2;
  /* Chrome, Safari, Opera */
  -moz-columns: 100px 2;
  /* Firefox */
  columns: 100px 2; }

#footer {
  background-color: #4d4d4d;
  height: 30px;
  color: white;
  clear: both;
  text-align: right;
  padding-top: 7px;
  padding-right: 10px;
  font-size: 1.5em; }

#footer2 {
  background-color: white;
  color: #4d4d4d;
  clear: both;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px; }

p {
  padding-bottom: 10px;
  align-content: center;
  margin: auto; }

table {
  align-content: center;
  display: block;
  margin: auto;
  width: 100%; }

td {
  padding: 0.25em;
  align: center; }

/*# sourceMappingURL=stylesheet.css.map */

/*# sourceMappingURL=stylesheet.css.map */
