/* CSS Document 
<!--- Author: 
   __         _                               
  /__\   ___ | |__    ___   ___   ___   __ _  
 / \//  / _ \| '_ \  / _ \ / __| / __| / _` | 
/ _  \ |  __/| |_) ||  __/| (__ | (__ | (_| | 
\/ \_/  \___||_.__/  \___| \___| \___| \__,_| 
                                              
                                              
  /\  /\  __ _  _ __   ___   ___   _ __       
 / /_/ / / _` || '_ \ / __| / _ \ | '_ \      
/ __  / | (_| || | | |\__ \| (_) || | | |     
\/ /_/   \__,_||_| |_||___/ \___/ |_| |_|     
                                           
                --->*/

form label  {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: right;
  font-size: 14pt;
  clear: left;
  float: left;
  text-align: right;
  height: 30px;
  margin-right: 7px;
  width: 200px;
  }

form input {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: right;
  clear: right;
  float: right;
  margin-right: 5px;
  height: 25px;
  width: 240px;
  font-weight: bold;
}  

textarea {
  float: right;
  margin-right: 5px;
  width: 240px;
  height: 150px;
}

fieldset {
  border: none;
  line-height: 20px;
}

#submit {
  background-color: purple;
  clear: both;
  
   width: 90px;
  height: 40px;
  font-size: 1em;
  -moz-border-radius: 6px;
-webkit-border-radius: 6px;
-o-border-radius: 6px;
-ms-border-radius: 6px;
border-radius: 6px;
font-weight: bold;
}


@media only screen and (max-width: 500px) {
  form {
    width: 100%;
  }
}