/* CSS Document 
<!-- Author: 
   __         _                               
  /__\   ___ | |__    ___   ___   ___   __ _  
 / \//  / _ \| '_ \  / _ \ / __| / __| / _` | 
/ _  \ |  __/| |_) ||  __/| (__ | (__ | (_| | 
\/ \_/  \___||_.__/  \___| \___| \___| \__,_| 
                                              
                                              
  /\  /\  __ _  _ __   ___   ___   _ __       
 / /_/ / / _` || '_ \ / __| / _ \ | '_ \      
/ __  / | (_| || | | |\__ \| (_) || | | |     
\/ /_/   \__,_||_| |_||___/ \___/ |_| |_|     
                                           
                --->*/

header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: white;
  }

#headerleft {
  width: 40%;
  margin: 2px;
  } 

#headerright {
  flex-direction: column;
  width: 55%;
}

#headerrighttop {
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  text-align: right;
  }  

#soc {
  width: 50%;
  justify-content: center;
  align-items: center;
}  

#phone  {
  width: 48%;
  float: right;
  clear: none;
  text-align: right;
  justify-content: flex-end;
}

#nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: white;
  color: black;
  font-size: 12pt;
  background-image: url("images/nav.png");
  background-repeat: no-repeat;
  vertical-align: bottom;
  padding-top: 10px;
  padding-bottom: 0px;
  height: 35px;
  width: 100%;
  opacity: 1.0; }

 #nav img {
  opacity: 0.75;
   } 

#nav li {
  display: inline;
  color: black;
  list-style-type: none; }

.address {
  text-align: right;
  clear: none;
  padding: 2px; }

.address h3 {
  text-align: right;
}  

.phone {
  font-size: 1em;
  float: right;
  clear: none;
  padding: 2px; }

.socialimg1 {
  margin: auto;
  float: left;
  clear: right;
  margin-left: 250px; }

.socialimg1 img{
 padding: 5px;
}

.master_fc7CjWDn69nAA1vSsxsm2 .menuItem .menuItemDesign {
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0);
  border-style: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  color: #363636;
  font-family: PT Sans;
  font-size: 13px;
  font-weight: 400;
  line-height: 17.0px;
  text-align: left;
  padding: 9px 15px;
  width: auto; }

#product {
  display: flex;
  flex-wrap: wrap;
  clear: both;
  width: 100%;
  padding-top: 7px;
  align-content: center;
  height: auto;
  text-align: center;
  font-size: 2.5em;
  background-color: purple;
  color: white;
  font-family: "Special Elite";
  }



@media only screen and (max-width: 700px) {

    header img {
      width: 100%;
    }

    #headerleft {
      width: 100%;
    }

    #headerright {
      width: 100%;
    }

    #headerrighttop {
      width: 100%;
    }

    #headerrighttop img {
      max-height: 35px;
      max-width: 35px;
    }

    #nav {
      width: 100%;
    }

    #product {
      width: 100%;
    }
}  
