/* CSS Document 
<!-- Author: 
   __         _                               
  /__\   ___ | |__    ___   ___   ___   __ _  
 / \//  / _ \| '_ \  / _ \ / __| / __| / _` | 
/ _  \ |  __/| |_) ||  __/| (__ | (__ | (_| | 
\/ \_/  \___||_.__/  \___| \___| \___| \__,_| 
                                              
                                              
  /\  /\  __ _  _ __   ___   ___   _ __       
 / /_/ / / _` || '_ \ / __| / _ \ | '_ \      
/ __  / | (_| || | | |\__ \| (_) || | | |     
\/ /_/   \__,_||_| |_||___/ \___/ |_| |_|     
                                           
                --->*/

header {
  background-color: white;
  text-align: center; }

header img {
  margin: 2px;
  float: left; } 

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

nav {
  background-color: white;
  color: black;
  font-size: 12pt;
  background-image: url("images/nav.png");
  background-repeat: no-repeat;
  float: right;
  vertical-align: bottom;
  padding-top: 10px;
  padding-bottom: 0px;
  height: 35px;
  width: 550px;
  display: block;
  opacity: 1.0; }

 nav img {
  opacity: 0.75;
  width: 500px;
 } 

nav li {
  display: inline;
  color: black;
  list-style-type: none; }

.address {
  font-size: 2em;
  float: right;
  clear: none;
  padding: 2px; }

.phone {
  font-size: 1em;
  float: right;
  clear: none;
  padding: 2px; }

.socialimg1 {
  margin: auto;
  float: left;
  clear: right;
  margin-left: 250px; }

.socialimg1 img{
 padding: 5px;
}

.master_fc7CjWDn69nAA1vSsxsm2 .menuItem .menuItemDesign {
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0);
  border-style: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  color: #363636;
  font-family: PT Sans;
  font-size: 13px;
  font-weight: 400;
  line-height: 17.0px;
  text-align: left;
  padding: 9px 15px;
  width: auto; }

#product {
  clear: both;
  height: 45px;
  text-align: center;
  padding-top: 10px;
  margin-left: 30px;
  font-size: 2.5em;
  background-color: purple;
  color: white;
  font-family: "Special Elite";
  align-content: center;
  margin: auto; }
