/* CSS Document 
<!-- Author: 
   __         _                               
  /__\   ___ | |__    ___   ___   ___   __ _  
 / \//  / _ \| '_ \  / _ \ / __| / __| / _` | 
/ _  \ |  __/| |_) ||  __/| (__ | (__ | (_| | 
\/ \_/  \___||_.__/  \___| \___| \___| \__,_| 
                                              
                                              
  /\  /\  __ _  _ __   ___   ___   _ __       
 / /_/ / / _` || '_ \ / __| / _ \ | '_ \      
/ __  / | (_| || | | |\__ \| (_) || | | |     
\/ /_/   \__,_||_| |_||___/ \___/ |_| |_|     
                                           
                --->*/


@import url("https://fonts.googleapis.com/css?family=Special+Elite"), "header.scss", "form.scss";


* {
  margin: 0;
  padding: 0; }

img {
  padding: 0px;
  margin: 0em; }

body {
  background-image: url("images/background.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed; }

#container {
  width: 73.5%;
  background-color: rgba(255, 255, 255, 0.75);
  margin-bottom: 10px;
  margin: auto; }


a:link {
  color: black;
  text-decoration: none; }

a:hover {
  text-decoration: none;
  color: blue; }

a:visited {
  color: black;
  text-decoration: none; }

main {
  width: 100%;
  padding: 0em;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  color: white;
  margin: 0em;
  clear: both;
  align-content: center;
   }

#asideleft {
  width: 52%;
  padding: 0px;
  background-color: rgba(255, 255, 255, 0);
  height: auto;
  color: white;
  clear: none;
  float: left;
  margin-right: 0em;
  margin-left: 0em;
  border: none;
  border-radius: 0px; } 

.tn {
  float: right;
  margin: 7px;
  border: 6px solid lightgrey;
}  

.tn2 {
  float: left;
  margin: 7px;
  margin-left: 29px;
  border: 6px solid lightgrey;
}
  
#asideright {
  width: 47%;
  padding: 0px;
  background-color: rgba(255, 255, 255, 0);
  height: auto;
  color: black;
  float: right;
  clear: none;
  margin-right: 0em;
  margin-left: 0em;
  border: none;
  border-radius: 0px;
  line-height: 28px;
   } 

#asideright h4 {
  margin-left: 15px;
  font-size: 14pt;
}    

#asideright p {
  margin-left: 30px;
  margin-right: 1em;
}   

#asideright h2 {
  text-align: center;
  font-size: 2em;
  color: purple;
}  

.specs {
    -webkit-columns: 100px 2; /* Chrome, Safari, Opera */
    -moz-columns: 100px 2; /* Firefox */
    columns: 100px 2;
}

#footer {
  background-color: #4d4d4d;
  height: 30px;
  color: white;
  clear: both;
  text-align: right;
  padding-top: 7px;
  padding-right: 10px;
  font-size: 1.5em; }

#footer2 {
  background-color: white;
  color: #4d4d4d;
  clear: both;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px; }

p {
  padding-bottom: 10px;
  align-content: center;
  margin: auto; }

table {
  align-content: center;
  display: block;
  margin: auto;
  width: 100%; }

td {
  padding: 0.25em;
  align: center; }

/*# sourceMappingURL=stylesheet.css.map */
