/* CSS Document 
<!-- Author: 
   __         _                               
  /__\   ___ | |__    ___   ___   ___   __ _  
 / \//  / _ \| '_ \  / _ \ / __| / __| / _` | 
/ _  \ |  __/| |_) ||  __/| (__ | (__ | (_| | 
\/ \_/  \___||_.__/  \___| \___| \___| \__,_| 
                                              
                                              
  /\  /\  __ _  _ __   ___   ___   _ __       
 / /_/ / / _` || '_ \ / __| / _ \ | '_ \      
/ __  / | (_| || | | |\__ \| (_) || | | |     
\/ /_/   \__,_||_| |_||___/ \___/ |_| |_|     
                                           
                --->*/
@import url("https://fonts.googleapis.com/css?family=Special+Elite");
/* CSS Document 
<!-- Author: 
   __         _                               
  /__\   ___ | |__    ___   ___   ___   __ _  
 / \//  / _ \| '_ \  / _ \ / __| / __| / _` | 
/ _  \ |  __/| |_) ||  __/| (__ | (__ | (_| | 
\/ \_/  \___||_.__/  \___| \___| \___| \__,_| 
                                              
                                              
  /\  /\  __ _  _ __   ___   ___   _ __       
 / /_/ / / _` || '_ \ / __| / _ \ | '_ \      
/ __  / | (_| || | | |\__ \| (_) || | | |     
\/ /_/   \__,_||_| |_||___/ \___/ |_| |_|     
                                           
                --->*/
header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: white; }

#headerleft {
  width: 40%;
  margin: 2px; }

#headerright {
  flex-direction: column;
  width: 55%; }

#headerrighttop {
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  text-align: right; }

#soc {
  width: 50%;
  justify-content: center;
  align-items: center; }

#phone {
  width: 48%;
  float: right;
  clear: none;
  text-align: right;
  justify-content: flex-end; }

#nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: white;
  color: black;
  font-size: 12pt;
  background-image: url("images/nav.png");
  background-repeat: no-repeat;
  vertical-align: bottom;
  padding-top: 10px;
  padding-bottom: 0px;
  height: 35px;
  width: 100%;
  opacity: 1.0; }

#nav img {
  opacity: 0.75; }

#nav li {
  display: inline;
  color: black;
  list-style-type: none; }

.address {
  text-align: right;
  clear: none;
  padding: 2px; }

.address h3 {
  text-align: right; }

.phone {
  font-size: 1em;
  float: right;
  clear: none;
  padding: 2px; }

.socialimg1 {
  margin: auto;
  float: left;
  clear: right;
  margin-left: 250px; }

.socialimg1 img {
  padding: 5px; }

.master_fc7CjWDn69nAA1vSsxsm2 .menuItem .menuItemDesign {
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0);
  border-style: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  color: #363636;
  font-family: PT Sans;
  font-size: 13px;
  font-weight: 400;
  line-height: 17.0px;
  text-align: left;
  padding: 9px 15px;
  width: auto; }

#product {
  display: flex;
  flex-wrap: wrap;
  clear: both;
  width: 100%;
  padding-top: 7px;
  align-content: center;
  height: auto;
  text-align: center;
  font-size: 2.5em;
  background-color: purple;
  color: white;
  font-family: "Special Elite"; }

@media only screen and (max-width: 700px) {
  header img {
    width: 100%; }

  #headerleft {
    width: 100%; }

  #headerright {
    width: 100%; }

  #headerrighttop {
    width: 100%; }

  #headerrighttop img {
    max-height: 35px;
    max-width: 35px; }

  #nav {
    width: 100%; }

  #product {
    width: 100%; } }
/* CSS Document 
<!--- Author: 
   __         _                               
  /__\   ___ | |__    ___   ___   ___   __ _  
 / \//  / _ \| '_ \  / _ \ / __| / __| / _` | 
/ _  \ |  __/| |_) ||  __/| (__ | (__ | (_| | 
\/ \_/  \___||_.__/  \___| \___| \___| \__,_| 
                                              
                                              
  /\  /\  __ _  _ __   ___   ___   _ __       
 / /_/ / / _` || '_ \ / __| / _ \ | '_ \      
/ __  / | (_| || | | |\__ \| (_) || | | |     
\/ /_/   \__,_||_| |_||___/ \___/ |_| |_|     
                                           
                --->*/
form label {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: right;
  font-size: 14pt;
  clear: left;
  float: left;
  text-align: right;
  height: 30px;
  margin-right: 7px;
  width: 200px; }

form input {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: right;
  clear: right;
  float: right;
  margin-right: 5px;
  height: 25px;
  width: 240px;
  font-weight: bold; }

textarea {
  float: right;
  margin-right: 5px;
  width: 240px;
  height: 150px; }

fieldset {
  border: none;
  line-height: 20px; }

#submit {
  background-color: purple;
  clear: both;
  width: 90px;
  height: 40px;
  font-size: 1em;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
  font-weight: bold; }

@media only screen and (max-width: 500px) {
  form {
    width: 100%; } }
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

img {
  max-width: 100%;
  height: auto;
  padding: 0px;
  margin: 0em; }

body {
  background-image: url("images/background.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed; }

.container {
  display: flex;
  flex-wrap: wrap;
  width: 73.5%;
  background-color: rgba(255, 255, 255, 0.75);
  margin-bottom: 10px;
  margin: auto; }

.container:after {
  content: "";
  clear: both;
  display: table; }

a:link {
  color: black;
  text-decoration: none; }

a:hover {
  text-decoration: none;
  color: blue; }

a:visited {
  color: black;
  text-decoration: none; }

main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0em;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  color: white;
  margin: 0em;
  clear: both;
  align-content: center; }

#asideleft {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 52%;
  padding: 0px;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  clear: none;
  float: left;
  margin-right: 0em;
  margin-left: 0em;
  border: none;
  border-radius: 0px; }

#asidelefttop {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 0px;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  clear: none;
  float: left;
  margin-right: 0em;
  margin-left: 0em;
  border: none;
  border-radius: 0px; }

#asideleftbottom {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 0px;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  clear: none;
  float: left;
  margin-right: 0em;
  margin-left: 0em;
  border: none;
  border-radius: 0px; }

.tn {
  float: left;
  margin: 7px;
  border: 6px solid lightgrey;
  height: 69px;
  width: 97px; }

#asideright {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 47%;
  padding: 0px;
  background-color: rgba(255, 255, 255, 0);
  height: auto;
  color: black;
  float: right;
  clear: none;
  margin-right: 0em;
  margin-left: 0em;
  border: none;
  border-radius: 0px;
  line-height: 28px; }

#asideright h4 {
  font-size: 14pt;
  text-align: left; }

#asideright p {
  margin-left: 30px;
  margin-right: 1em; }

#asideright h2 {
  text-align: center;
  font-size: 2em;
  color: purple; }

#specs {
  display: flex;
  flex-wrap: wrap;
  width: 100%; }

#specsleft {
  display: flex;
  flex-wrap: wrap;
  float: left;
  width: 50%; }

#specsright {
  display: flex;
  flex-wrap: wrap;
  float: right;
  clear: none;
  width: 50%; }

#footer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: #4d4d4d;
  height: 30px;
  color: white;
  text-align: right;
  padding-top: 7px;
  padding-right: 10px;
  font-size: 1.5em; }

#footer2 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: white;
  color: #4d4d4d;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px; }

p {
  padding-bottom: 10px;
  align-content: center;
  margin: auto; }

table {
  align-content: center;
  display: block;
  margin: auto;
  width: 100%; }

td {
  padding: 0.25em;
  align: center; }

@media only screen and (max-width: 1000px) {
  .footer {
    width: 100%; }

  .footer2 {
    width: 100%; }

  #asideleft {
    width: 100%; }

  #asidelefttop {
    width: 100%; }

  #asideleftbottom {
    width: 100%; }

  #asideright {
    width: 100%; }

  .specs {
    width: 100%; } }
/*# sourceMappingURL=stylesheet.css.map */

/*# sourceMappingURL=stylesheet-flex.css.map */
