/* This styles the Home Page website */

body {
	background-color:beige;

}

h2	{color:orange;
	background-color:gray;
	font-size:2.5em;
	}
	
	
p {color:purple;
	text-align: left;
	font-size: 1.2em;
	line-height:1.5em;
	font-family: Verdana, sans-serif
	indent-left: 3em;
	indent-right: 3em;
	
	}
	
h1  { 
	color:maroon;
	font-size:2em;
	text-align:center;
	text-decoration:underline overline;
	text-transform: uppercase;
	
}



a {
	color:green;
	
}

a:hover: {
color: purple;
background-color: white;
text-transform: uppercase;
}

img {
padding: 2em;

}

