/*
Take it Away Wireless
Style Sheet
Author: Rebecca Hanson
Date: February 13, 2017
*/

body {
font-size: 1.2em;
font-family: Arial;
background-color: #e6e6fa
}

em {
	color: green;
}

h3 {
color: maroon;
text-transform: uppercase;
text-align: right;
font-size: 1.3em;
font-family: "Times New Roman", Times, serif;
}